@font-face {
    font-family: 'Roboto';
    src: local('☺'), url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('☺'), url('../fonts/RobotoCondensed-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('☺'), url('../fonts/Roboto-Regular.woff') format('woff');
    font-width: 400;
    font-style: normal;
}
.card{
    margin: 40px auto;
    max-width: 260px;
}
.card__top{
    position: relative;
    height: 260px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 12px;
    margin-bottom: 16px;
}
.top{
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.label{
    margin-left: 17px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.text--white{
    margin: 4px 6px 3px 6px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}
.label--purple{
    background: #8D58E3;
    border-radius: 3px;
    margin-bottom: 10px;
}
.label--discount{
    background: #E95471;
    border-radius: 3px;
}
.fav{
    margin-top: 9px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(48, 36, 84, 0.15);
    border-radius: 20px;
}
.card__product{
    position: absolute;
    top: 30px;
    left: 30px;
    display: flex;
    justify-content: center;
}
.card__icon{
    position: absolute;
    right: -10px;
    bottom: -15px;
}
.title--black{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #202454;
}
.rating{
    margin-top: 19px;
}
.col{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #202454;
}
.trade{
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
}
.price__old{
    display: flex;
}
.trade-price__top{
    display: flex;
    justify-content: center;
    background: #E95471;
    border-radius: 20px;
    width: 20px;
    height: 20px;
}
.trade-price__oldd{
    display: flex;
    align-items: center;
}
.prc{
    padding-left: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #7B94B0;
}
.trade-price__bottom{
    margin-top: 4px;
    display: flex;
    align-items: flex-end;
}
.trade-price__discount{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 140%;
    color: #7B94B0;
    padding-right: 4px;
    position: relative;
}
.trade-price__discount:before{
    position: absolute;
    content: "";
    left: 45%;
    top: 55%;
    width: 94%;
    transform: translate(-50%, -50%);
    border-bottom: 1px solid #7B94B0;
}

.trade-price__new{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #202454;
}
.basket{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(84, 143, 199, 0.15);
    border-radius: 20px;
}
.basket:hover{
    background: #7B94B0;
}